<h1>Things oo DO</h1>

<%= render 'layouts/navbar' %>
  <%= yield %>

<hr>
<p><%= link_to 'New Todo Item', new_todo_path %></p>

<% @todos.each do |todo| %>
  <h2><%= todo.title %></h2>
  <%= link_to 'View List Item', todo_path(todo) %>
  <%= link_to 'Edit Todo Item', edit_todo_path(todo) %>
  <%= link_to 'Delete Todo Item', todo, method: :delete %>
<% end %>
